$primaryColor: #5b97ff;
$errorColor : #e81c1c;
$background : #4d84e2;
$color-accent: #2e485c;
$colorBackground: #fafafa;
$colorBackgroundBody: #fff;
$colorBorder: #eff1f5;
$colorBackgroudHover: #fafbfe;